.coinpage{
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 3vw;
    padding-left: 6.5vw;
    padding-right: 6.5vw;
    justify-content: space-between;
}

.sidebar{
    font-family: 'Space Grotesk';

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 2%;
    padding-left: 3.5vw;
    padding-right: 3.5vw;

    box-sizing: border-box;
    width: 27vw;
    height: 40vw;

    background: #FFFFFF;
    border: 1px solid #ffffff42;
    box-shadow: 8px 8px 28px rgba(0, 81, 255, 0.25);
    border-radius: 1vw;
}

.imageone{
    height: 8vw;
}

.name{
    margin-top: 0.7vw;
    font-size: 1.3vw;
    font-weight: bold;
}

.desc{
    margin-top: 0.9vw;
    font-size: 1.1vw;
    margin-bottom: 1.5vw;
}

.rank{
    margin-top: 0.45vw;
    font-size: 1.1vw;
}

.graphic{
    font-family: 'Space Grotesk';

    width: 55vw;
    height: 40vw;

    background: #FFFFFF;
    border: 1px solid #ffffff42;
    box-shadow: 8px 8px 28px rgba(0, 81, 255, 0.25);
    border-radius: 1vw;

    padding: 5%;
}