.title{
    cursor: pointer;
    position: absolute;
    width: 344px;
    height: 64px;
    left: 120px;
    top: 31px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    /* identical to box height */
    color: #000000;
}

.home{
    cursor: pointer;
    position: absolute;
    width: 82px;
    height: 37px;
    left: 1238px;
    top: 44px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;

    color: rgba(0, 0, 0, 0.6);
}

.random{
    cursor: pointer;
    position: absolute;
    width: 313px;
    height: 64px;
    left: 1418px;
    top: 31px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background: #000000;
    border-radius: 32px;
}

