.title{
    cursor: pointer;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 64px;
    /* identical to box height */
    color: #000000;
}

.home{
    cursor: pointer;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 38px;

    color: rgba(0, 0, 0, 0.6);
}

.random{
    cursor: pointer;
    width: 15vw;
    height: 4vw;

    border-radius: 100vw;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background: #000000;
    border-radius: 100vw;
}

.mainbar{
    margin-top: 2%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    align-items: center;
    height: 4vw;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-left: 10%;
}